# PostgreSQL / Supabase Database URL (Connection Pooler)
DATABASE_URL="postgresql://user:password@host:6543/postgres?pgbouncer=true"

# PostgreSQL / Supabase Direct Connection URL (Direct)
DIRECT_URL="postgresql://user:password@host:5432/postgres"
